name: ♾️ Compatibility Checks

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - dev

jobs:
  compat-checks:
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: projectdiscovery/actions/setup/go/compat-checks@v1
        with:
          go-version: "stable"
          release-test: true
